<footer class="footer">
  <div class="footer-container container">
    <!-- LOGO AND DESCRIPTION -->
    <div class="footer-wrap">
      <div class="footer-container-logo">
        <a href="./index.html" class="logo-footer svg">
          <svg class="icon-logo" width="168" height="16">
            <use href="img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <div class="footer-text">
          <p>
            Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit baskets are the perfect choice.
          </p>
        </div>
      </div>

      <!-- NAVIGATION AND CONTACTS -->
      <div class="navigation-container-footer">
        <div class="footer-navigation">
          <ul class="footer-nav-list">
            <li>
              <a class="footer-navigator" href="#how-it-works">How It Works</a>
            </li>
            <li>
              <a class="footer-navigator" href="#vegetables">Vegetables</a>
            </li>
            <li><a class="footer-navigator" href="#reviews">Reviews</a></li>
          </ul>
        </div>

        <address class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="phone-link">
              <a class="link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="address-link">
              <a
                href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332053,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                class="link"
                target="_blank"
              >
                1678 S. Pioneer Road Salt Lake City UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>

    <!-- PRIVACY INFORMATION -->
    <div class="footer-privacy">
      <ul class="footer-privacy-list">
        <li>
          <a href="privacy-policy" class="privacy-link">Privacy Policy</a>
        </li>
        <li class="footer-divider">/</li>
        <li>
          <a href="cookie-settings" class="privacy-link">Cookie settings</a>
        </li>
      </ul>
      <p>&copy; Green Harvest 2023</p>
    </div>
  </div>
</footer>
