<header>
  <div class="container header-container">
    <a href="./index.html" target="_self" class="logo-header svg">
      <svg class="icon-logo" width="168" height="16">
        <use href="img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-li">
          <a class="navigator" href="#how-it-works">How It Works</a>
        </li>
        <li class="nav-li">
          <a class="navigator" href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-li">
          <a class="navigator" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="shop-btn shop-btn-header"
      onclick="scrollToSection('your-order')"
    >
      Shop now
    </button>

    <button
      type="button"
      class="hedder-burger svg"
      aria-label="mobile-menu"
      data-heder-open
    >
      <svg class="burger-s" width="32" height="32">
        <use href="img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
<div class="backdrop" id="backdrop" data-heder>
  <div class="mobile-menu">
    <button
      class="menu-close-btn"
      type="button"
      aria-label="close-menu"
      data-heder-close
    >
      <svg class="close-icon" width="32" height="32">
        <use href="img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-list-item">
        <a class="menu-link" href="#how-it-works">How It Works</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="#vegetables">Vegetables</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <button
      class="menu-shop-btn"
      type="button"
      onclick="scrollToSection('your-order')"
      id="orderButton"
    >
      shop now
    </button>
  </div>
</div>
