<section class="how-it-works" id="how-it-works">
  <h2 class="visually-hidden">How it works</h2>
  <div class="container section-how">
    <div class="works-img">
      <div class="works-div-img">
        <picture>
          <source
            srcset="
              img/how-it-works/image-how-desk2x.png 2x,
              img/how-it-works/image-how-desk.png   1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/how-it-works/image-how-tab2x.png 2x,
              img/how-it-works/image-how-tabk.png  1x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              img/how-it-works/image-how-mob2x.png 2x,
              img/how-it-works/image-how-mob.png   1x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img-size"
            src="img/how-it-works/image-how-mob.png"
            alt="women"
            width="640"
            height="640"
          />
        </picture>
      </div>
    </div>

    <div class="works-content">
      <h3 class="order">
        To order your <span class="part-order">vegetable</span> basket, simply
        follow these <span class="part-order">easy steps</span>
      </h3>
      <p class="bascket">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>

      <ol class="ol-list">
        <li>
          <p>
            Just choose the <span class="part-li">vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="part-li">next to it</span>.
          </p>
        </li>
        <li>
          <p>
            Click on the <span class="part-li">basket</span> and fill out the
            form.
          </p>
        </li>
        <li>
          <p>
            Sit back and relax! Your
            <span class="part-li">fresh vegetables</span> basket will be
            delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
