<section class="contact-shop" id="your-order">
  <div class="cont-shop-contaier container">
    <div class="cont-shop-content">
      <h2 class="cont-shop-title">
        Fresh
        <span class="phrase-decor">Harvest</span> Box has got you covered
      </h2>
      <p class="cont-shop-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="box-social-wrapper">
      <div class="cont-shop-form-box">
        <h3 class="cont-shop-form-title">
          Ordering
          <span class="from-us-decor">from us</span> is quick and easy! Fill out
          <span class="the-form-decor">the form</span> below and we will contact
          you !
        </h3>
        <form class="cont-shop-form">
          <div class="cont-shop-form-wrapper">
            <div class="cont-shop-form-field">
              <input
                class="cont-shop-input"
                type="text"
                name="user-full-name"
                placeholder="Full Name"
                minlength="2"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
              />
            </div>
            <div class="cont-shop-form-field">
              <input
                class="cont-shop-input"
                type="email"
                name="user-email"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
              />
            </div>
            <div class="cont-shop-comment-field">
              <textarea
                class="cont-shop-comment"
                name="user-comment"
                placeholder="Comment"
              ></textarea>
            </div>
          </div>
          <button class="cont-shop-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="cont-shop-social">
        <div class="cont-shop-social-wrapper">
          <div class="cont-shop-social-thumb">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  img/your-order/img-order-desk@2x.png 2x,
                  img/your-order/img-order-desk.png    1x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  img/your-order/img-order-tab@2x.png 2x,
                  img/your-order/img-order-tab.png    1x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  img/your-order/img-order-mob@2x.png 2x,
                  img/your-order/img-order-mob.png    1x
                "
              />
              <img
                src="img/your-order/img-order-mob@1x.png"
                alt="Woman makes fresh of lemon"
                width="536"
                height="352"
              />
            </picture>
          </div>
          <p class="cont-shop-social-text">Follow us on our social networks:</p>
          <ul class="cont-shop-social-list">
            <li class="cont-shop-social-items">
              <a
                target="_blank"
                href="https://www.instagram.com/goitclub/"
                class="cont-shop-social-links"
                >Instagram</a
              >
            </li>
            <li class="cont-shop-social-items divider">
              <a
                target="_blank"
                href="https://www.facebook.com/goITclub/"
                class="cont-shop-social-links"
                >Facebook</a
              >
            </li>
            <li class="cont-shop-social-items">
              <a
                target="_blank"
                href="https://www.youtube.com/c/GoIT"
                class="cont-shop-social-links"
                >Youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
