.footer {
  background-color: #7a3145;
  min-width: 320px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0;
    min-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    min-width: 1280px;
  }
}

.footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

.footer-wrap {
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .footer-wrap {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-wrap {
    margin-bottom: 120px;
  }
}

.icon-logo {
  display: block;
}

.footer-text {
  margin-top: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    width: 265px;
    margin-top: 24px;
    font-size: 16px;
  }
}

.footer-navigation {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .footer-navigation {
    margin-top: 0;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-navigation {
    margin-bottom: 0;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-nav-list {
    gap: 24px;
  }
}

.footer-navigator:hover,
.footer-navigator:focus,
.link:hover,
.link:focus {
  background-color: #d4bfc4;
  color: #7a3145;
}

.footer-contacts {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .footer-contacts {
    margin-top: 64px;
    gap: 24px;
  }
}

.address-link {
  display: flex;
  max-width: 179px;
}

@media only screen and (min-width: 768px) {
  .address-link {
    max-width: 215px;
    font-size: 16px;
  }
}

.phone-link {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .phone-link {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.footer-privacy {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
}

@media only screen and (min-width: 768px) {
  .footer-privacy {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.footer-privacy-list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-privacy-list {
    margin-bottom: 0;
  }
}

.footer-trade-mark {
  margin-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
}

@media only screen and (min-width: 768px) {
  .footer-trade-mark {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container-logo {
    margin-right: 250px;
  }

  .navigation-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-nav-list {
    margin-right: 121px;
  }

  .footer-contacts {
    margin: 0 auto;
  }
}