.hero {
  background-color: #576f35;
}

.hero-wrapper {
  padding: 100px 0 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 42px;
  max-width: 280px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  margin-bottom: 20px;
}

@media only screen and (min-width: 375px) {
  .hero-title {
    min-width: 100%;
    font-size: 52px;
  }
}

.hero-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

.background {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/hero/image-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 372px;
  margin: 0 -20px;
}

@media (min-resolution: 921dpi), (min-resolution: 2dppx) {
  .background {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/image-bg-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
  }

  .hero-subtitle {
    font-size: 16px;
    line-height: 1.25;
    padding-right: 101px;
  }

  .hero-wrapper {
    padding: 120px 0 52px;
  }

  .background {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/image-bg-tab.jpg);
    height: 536px;
    margin: 0 -32px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 921dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/image-bg-tab@2x.jpg);
  }
}

@media only screen and (min-width: 1280px) {
  .hero-div {
    display: flex;
  }
  .hero-title {
    margin-bottom: 128px;
  }

  .hero-subtitle {
    padding: 0;
    max-width: 472px;
  }

  .hero-wrapper {
    padding-top: 232px;
    width: 540px;
  }

  .background {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/Image-bg-desk.jpg);
    width: 640px;
    height: 796px;
    flex-shrink: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 921dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/Image-bg-desk@2x.jpg);
  }
}
